// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: hsl(210, 46%, 95%);//light-grayish-blue
$-clr-gray-200: hsl(0, 0%, 81%);//light gray
$-clr-gray-300: hsl(0 0% 70%);
$-clr-gray-400: hsl(0 0% 60%);
$-clr-gray-500: hsl(0 0% 50%);
$-clr-gray-600: hsl(0 0% 40%);
$-clr-gray-700: hsl(0 0% 30%);
$-clr-gray-800: hsl(0 0% 17.5%);
$-clr-gray-900: hsl(0 0% 7.5%);
$-clr-black: hsl(0 0% 0%);

$-clr-mist-blue-100: hsl(219 29% 95%);
$-clr-mist-blue-200: hsl(219 29% 82.5%);
$-clr-mist-blue-300: hsl(219 29% 70%);
$-clr-mist-blue-400: hsl(219 29% 60%);
$-clr-mist-blue-500: hsl(219 29% 50%);
$-clr-mist-blue-600: hsl(217, 19%, 35%);//Very-dark-grayish-blue
$-clr-mist-blue-700: hsl(219 29% 30%);
$-clr-mist-blue-800: hsl(219, 29%, 14%);//Very-dark-blackish-blue
$-clr-mist-blue-900: hsl(219 29% 7.5%);

$-clr-violet-100: hsl(263 75% 95%);
$-clr-violet-200: hsl(263 75% 82.5%);
$-clr-violet-300: hsl(263 75% 70%);
$-clr-violet-400: hsl(263 75% 60%);
$-clr-violet-500: hsl(263, 55%, 52%); //moderate violet
$-clr-violet-600: hsl(263 75% 40%);
$-clr-violet-700: hsl(263 75% 30%);
$-clr-violet-800: hsl(263 75% 17.5%);
$-clr-violet-900: hsl(263 75% 7.5%);


$default: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-100,
    "200": $-clr-gray-200,
    "300": $-clr-gray-300,
    "400": $-clr-gray-400,
    "500": $-clr-gray-500,
    "600": $-clr-gray-600,
    "700": $-clr-gray-700,
    "800": $-clr-gray-800,
    "900": $-clr-gray-900,
    "1000": $-clr-black,
  ),
  "accent": (
    "100": $-clr-violet-100,
    "200": $-clr-violet-200,
    "300": $-clr-violet-300,
    "400": $-clr-violet-400,
    "500": $-clr-violet-500,
    "600": $-clr-violet-600,
    "700": $-clr-violet-700,
    "800": $-clr-violet-800,
    "900": $-clr-violet-900,
  ),
  "primary": (
    "100": $-clr-mist-blue-100,
    "200": $-clr-mist-blue-200,
    "300": $-clr-mist-blue-300,
    "400": $-clr-mist-blue-400,
    "500": $-clr-mist-blue-500,
    "600": $-clr-mist-blue-600,
    "700": $-clr-mist-blue-700,
    "800": $-clr-mist-blue-800,
    "900": $-clr-mist-blue-900,
  ),
);


// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-primary-900: var(--primary-900);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-700: var(--accent-700);
$color-accent-800: var(--accent-800);
$color-accent-900: var(--accent-900);
